@using EipsHelpDesk.Models
@model IssueViewModel
@{
    Layout = "_Layout";
}
@await Html.PartialAsync("_Breadcrumb")
@* возможные примеры реализации: http://lg-d-54a5053332:81/pages/examples/project-detail.html*@
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">

                @switch (Model.Issue.statusid)
                {
                    case 1:
                        @await Html.PartialAsync("_Status1")
                        break;
                    case 2:
                        @await Html.PartialAsync("_Status2")
                        break;
                    case 3:
                        @await Html.PartialAsync("_Status3")
                        break;
                    case 4:
                        @await Html.PartialAsync("_Status4")
                        break;
                    case 5:
                        @await Html.PartialAsync("_Status5")
                        break;
                    default:
                        @await Html.PartialAsync("_Viewing")
                        break;
                }

            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>
<script>
    menuopen("issue-li");
    menuactive("issue-a");
    menuactive("issue-list-a");
</script>
@section VendersScripts
{
    <!--Для работы с датами-->
    <script src="~/plugins/select2/js/select2.full.js"></script>
    <script src="~/plugins/moment/moment-with-locales.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.js"></script>
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js"></script>
    <script src="~/js/datetime.js"></script>

    <!--Для работы с dropdown-->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/dist/js/demo.js"></script>

    <!---->
    <script src="~/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
}

@section CustomScripts
{
    <script>
        $(function () {
            $('.select2').select2()
        })

        SetDateTimePickerValue('#inputPlanDateCalendar', $('#inputPlanDateCalendar').val(), '#planDateCalendar');
        $('#inputPlanDateCalendar').inputmask('yyyy-MM-dd HH:MM', { 'placeholder': 'ГГГГ-ММ-ДД ЧЧ:ММ' })

        SetDateTimePickerValue('#inputFactDateCalendar', $('#inputFactDateCalendar').val(), '#factDateCalendar');
        $('#inputFactDateCalendar').inputmask('yyyy-MM-dd HH:MM', { 'placeholder': 'ГГГГ-ММ-ДД ЧЧ:ММ' })

        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        })
    </script>
}